TZ=UTC
PUID=1000
PGID=1000

RDTCLIENT_TAG=latest
RDTCLIENT_CONTAINER_NAME=rdtclient
RDTCLIENT_BIND=127.0.0.1
RDTCLIENT_PORT=6500
RDTCLIENT_CONFIG_DIR=/srv/rdtclient/config
RDTCLIENT_DOWNLOAD_DIR=/srv/rdtclient/downloads
